*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Inria Serif", sans-serif;
}
header{
    background-color: rgb(217, 217, 217, 0.90);
    display: flex;
    padding: 10px;
    z-index: 1000;
    justify-content: space-between;

}
.head-pic{
    margin-left: 10px;
    width: 245px;
    height: auto;
    display: block;
}

@media screen and (max-width: 550px) {
    .head-pic {
        width: 150px; 
        margin-left: 10px;
    }
}
.navlist{
    margin-top: 30px;
    margin-left: 60vh;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    gap: 10px;
}
.navlist a{
    color: black;
    margin-left: 100px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    justify-content: space-between;

}
.navlist a:hover{
    border-bottom: 2px solid black;
    transition: all .55s ease;
}
@media (max-width: 1770px) {
    .navlist {
        margin-left: 70vh; 
    }

    .navlist a {
        margin-left: 40px; 
    }
}

@media (max-width: 1669px) {
    .navlist {
        margin-left: 60vh; 
    }

    .navlist a {
        margin-left: 40px; 
    }
}

@media (max-width: 1620px) {
    .navlist {
        margin-left: 55vh; 
    }

    .navlist a {
        margin-left: 40px; 
    }
}

@media (max-width: 1580px) {
    .navlist {
        margin-left: 50vh; 
    }

    .navlist a {
        margin-left: 40px; 
    }
}

@media (max-width: 1550px) {
    .navlist {
        margin-left: 45vh; 
    }

    .navlist a {
        margin-left: 40px;
    }
}

@media (max-width: 1520px) {
    .navlist {
        margin-left: 40vh; 
    }

    .navlist a {
        margin-left: 40px;
    }
}
@media (max-width: 1420px) {
    .navlist {
        margin-left: 30vh; 
    }

    .navlist a {
        margin-left: 40px;
    }
}
@media (max-width: 1340px) {
    .navlist {
        margin-left: 25vh; 
    }

    .navlist a {
        margin-left: 40px;
    }
}
@media (max-width: 1280px) {
    .navlist {
        margin-left: 15vh; 
    }

    .navlist a {
        margin-left: 40px;
    }
}
@media (max-width: 1180px) {
    .navlist {
        margin-left: 10vh; 
    }

    .navlist a {
        margin-left: 40px;
    }
}
@media (max-width: 1140px) {
    .navlist {
        margin-left: 5vh; 
    }

    .navlist a {
        margin-left: 40px;
    }
}
@media (max-width: 1090px) {
    .navlist {
        margin-left: 2vh; 
    }

    .navlist a {
        margin-left: 40px;
    }
}
@media (max-width: 1055px) {
    #menu-icon{
        display: block; /* Show the menu line */
    }
}

body{
    background-image: url(bg1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;

}
#menu-icon{
    color: black;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.Sign-in {
    display: flex;
    padding: 0;
    margin: 0;
    width: auto;
    padding-bottom: 8px;
    margin-right: 1px;
}

.Sign-in button {
    border: none; 
    font-size: 15px;
    padding: 5px 10px;
    margin: 20px;
    display: flex;
    align-items: center;
    white-space: nowrap; 
    background-color: transparent;
    color: black; 
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, border-radius 0.3s;
}


.Sign-in button:hover {
    color:  rgb(0, 0, 0);
    background-color: #a6a6a6;
    border-radius: 30px; 
    padding: 5px 10px;
}
